spring:
  application:
    name: OTP_Login

  datasource:
    url: jdbc:mysql://localhost:3306/otp
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: gangwar030@gmail.com
    password: kgagpunvhwiitzuc
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 38411347918-q6mg2am7gpr3pvnir06ru608mhcfesdr.apps.googleusercontent.com
            client-secret: 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
            scope:
              - email
              - profile