spring:
  application:
    name: OTP_Login

  datasource:
    url: jdbc:mysql://localhost:3306/<DATABASE NAME>
    username:  `MYSQL USERNAME`
    password: `MYSQL PASSWORD`
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: `YOUR EMAIL`
    password: `PASSWORD`
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: `YOUR CLIENT ID`
            client-secret: `YOUR SECRET KEY`
            scope:
              - email
              - profile
