.login-container {
    height: 100vh;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: rgb(185, 119, 119);
    padding: 35px;
    width: 420px;
    height: 50%;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card h2 {
    margin-bottom: 20px;
}

.card input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.card button {
    width: 50%;
    margin: 10px;
    padding: 10px;
    background: #ff758c;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.card button:hover {
    background: #ff5e78;
}

.msg {
    margin-top: 15px;
    color: #333;
    font-size: 14px;
}